In [2]:
import pandas as pd

# Load the uploaded CSV file
file_path = '/Users/gil/Downloads/finra (1).csv'
df = pd.read_csv(file_path)

# Assuming the column containing company names is named 'Company Name'
# Convert all names to title case for better readability
df['Company Name'] = df['Name'].str.title()

# Define the new CSV file path
csv_file_path = '/Users/gil/Downloads/finrak.csv'

# Save the DataFrame to a new CSV file
df.to_csv(csv_file_path, index=False)

# Output the path to the new CSV file
csv_file_path

'/Users/gil/Downloads/finrak.csv'

In [1]:
imaport pandas as pd

# Example structure
data = {
    'Category': ['Payroll', 'GCP', 'Data', 'Rent', 'Bank Balance'],
    'Amount': [43733.99*2, 9174.27, (100000 + 68000 + 10000 + 50000)/12, 6000, 851051.20]
}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

       Category     Amount
0       Payroll   87467.98
1           GCP    9174.27
2          Data   19000.00
3          Rent    6000.00
4  Bank Balance  851051.20

In [2]:
import pandas as pd

# Constants and initial setup
quarters_corrected = ["Q2 2024", "Q3 2024", "Q4 2024", "Q1 2025", "Q2 2025", "Q3 2025", "Q4 2025", "Q1 2026"]
customer_growth_sequence = [1, 4, 10, 15, 22, 30, 40, 50]  # Customer growth per quarter
opex_growth_rate_annual = 0.15  # 15% annual growth rate for Operating Expenses
opex_growth_rate_quarterly = (1 + opex_growth_rate_annual) ** (1/4) - 1  # Quarterly growth rate
revenue_per_customer_increase_rate = 0.05  # 5% increase every 6 months
tax_rate = 0.21  # 21%
initial_revenue_per_customer = 25000
initial_operating_expenses = 331988  # Starting point for operating expenses

# DataFrame for financial projections
df_projections = pd.DataFrame(index=quarters_corrected, columns=["Customers", "Quarterly Revenue per Customer", "Revenue", "Operating Expenses", "Net Income"])

current_revenue_per_customer = initial_revenue_per_customer

for i, quarter in enumerate(quarters_corrected):
    # Update revenue per customer every 6 months
    if i % 2 == 1:  # Every 6 months (every two quarters starting from the second quarter in our list)
        current_revenue_per_customer *= (1 + revenue_per_customer_increase_rate)
    
    customers = customer_growth_sequence[i]
    revenue = current_revenue_per_customer * customers
    
    # Operating expenses growth
    if i != 0:  # Grow operating expenses starting from the second quarter
        initial_operating_expenses *= (1 + opex_growth_rate_quarterly)
    
    operating_income = revenue - initial_operating_expenses
    taxes = max(operating_income * tax_rate, 0)
    net_income = operating_income - taxes
    
    # Populate DataFrame
    df_projections.loc[quarter] = [customers, current_revenue_per_customer, revenue, initial_operating_expenses, net_income]

# Format the DataFrame for display
df_projections.style.format({
    "Quarterly Revenue per Customer": "${:,.2f}",
    "Revenue": "${:,.2f}",
    "Operating Expenses": "${:,.2f}",
    "Net Income": "${:,.2f}",
})

In [4]:
import pandas as pd

# Step 1: Load the CSV file into a DataFrame
file_path = '/Users/gil/Downloads/preds (47).csv' # Update this to the path of your CSV file
df = pd.read_csv(file_path)

# Step 2: Generate the custom row numbering sequence
num_rows = len(df)  # Get the number of rows in the DataFrame
custom_row_numbers = list(range(1, 20)) + [10000, 10001, 10003]  # Starting sequence as per your request

# If there are more rows beyond what's specified, continue the sequence from 10004 onwards
if num_rows > 22:  # Adjusted for the initial + 3 custom entries
    custom_row_numbers += list(range(10004, 10004 + num_rows - 22))

# Ensure the custom row numbering list matches the DataFrame's length
custom_row_numbers = custom_row_numbers[:num_rows]

# Step 3: Update the DataFrame with the new custom row numbering
df['Adjusted Custom Row Number'] = custom_row_numbers

# Step 4: Display the DataFrame to verify the custom row numbering
# This displays the first 25 rows, including the adjusted numbering
df.head(25)

,cusip,quantity,trade_type,ytw,price,yield_to_worst_date,coupon,security_description,maturity_date,Adjusted Custom Row Number
0,4073246Q0,5000000,Offered Side,2.633,109.289,04-01-2028,5.00,HAMILTON CNTY TENN GO BDS 2018 A,04-01-2030,1
1,626524R95,5530000,Offered Side,3.396,97.472,06-01-2030,2.95,MURFREESBORO TENN GO BDS 2018,06-01-2030,2
2,425507GN4,5150000,Offered Side,2.738,108.187,12-01-2027,5.00,HENNEPIN CNTY MINN GO BDS 2018 A,12-01-2030,3
3,425507GL8,4785000,Offered Side,2.684,108.390,12-01-2027,5.00,HENNEPIN CNTY MINN GO BDS 2018 A,12-01-2028,4
4,239019W65,3825000,Offered Side,3.572,93.966,06-01-2030,2.50,DAVIS CNTY UTAH SCH DIST GO OBLI REF BDS 2017 B,06-01-2030,5
5,239019W57,3725000,Offered Side,3.723,93.646,06-01-2029,2.40,DAVIS CNTY UTAH SCH DIST GO OBLI REF BDS 2017 B,06-01-2029,6
6,239019W40,3650000,Offered Side,3.859,93.427,06-01-2028,2.20,DAVIS CNTY UTAH SCH DIST GO OBLI REF BDS 2017 B,06-01-2028,7
7,239019W32,3575000,Offered Side,3.981,93.860,06-01-2027,2.00,DAVIS CNTY UTAH SCH DIST GO OBLI REF BDS 2017 B,06-01-2027,8
8,041796TN3,2710000,Offered Side,3.071,99.066,08-15-2028,2.85,ARLINGTON TEX PERMANENT IMPT BDS 2018,08-15-2028,9
9,041796TQ6,2710000,Offered Side,3.375,97.812,08-15-2030,3.00,ARLINGTON TEX PERMANENT IMPT BDS 2018,08-15-2030,10
10,041796TP8,2710000,Offered Side,3.463,97.430,08-15-2029,2.95,ARLINGTON TEX PERMANENT IMPT BDS 2018,08-15-2029,11
11,139078DT3,2465000,Offered Side,3.533,94.143,06-15-2030,2.50,CANYONS SCH DIST UTAH GO BDS 2018,06-15-2030,12
12,139078DS5,2370000,Offered Side,3.435,94.712,06-15-2029,2.35,CANYONS SCH DIST UTAH GO BDS 2018,06-15-2029,13
13,982271RX8,2335000,Offered Side,3.297,98.192,12-01-2030,3.00,WRIGHT CNTY MINN GO CAP IMPT PLAN BDS 2018 A,12-01-2030,14
14,937785UZ4,2320000,Offered Side,3.489,94.682,02-01-2030,2.50,WASHINGTON CNTY MINN GO REF BDS 2017 A,02-01-2030,15
15,937785UY7,2255000,Offered Side,3.460,95.164,02-01-2029,2.40,WASHINGTON CNTY MINN GO REF BDS 2017 A,02-01-2029,16
16,307585MU0,2000000,Offered Side,-1.000,-1.000,CUSIP is maturing very soon or has already mat...,NaN,NaN,NaN,17
17,89453PC31,1985000,Offered Side,3.390,97.867,03-01-2030,3.00,TRAVIS CNTY TEX LTD TAX PERM IMPT BDS 2018,03-01-2030,18
18,194469HE5,1835000,Offered Side,3.345,98.396,02-15-2030,3.05,COLLEGE STATION TEX CFTS OF OBLI 2018,02-15-2030,19
19,194469HD7,1780000,Offered Side,3.320,98.293,02-15-2029,2.95,COLLEGE STATION TEX CFTS OF OBLI 2018,02-15-2029,10000
20,751622SJ1,1450000,Offered Side,4.107,84.929,02-01-2030,1.25,RAMSEY CNTY MINN GO CAP IMPT PLAN REF BDS 2020A,02-01-2030,10001
21,234604HZ2,1275000,Offered Side,3.075,99.568,06-01-2030,3.00,DALLAS CNTY IOWA GO CAP LN NTS 2018A,06-01-2030,10003
22,234604HY5,1240000,Offered Side,3.239,98.836,06-01-2029,3.00,DALLAS CNTY IOWA GO CAP LN NTS 2018A,06-01-2029,10004
23,234604HX7,1205000,Offered Side,3.228,99.079,06-01-2028,3.00,DALLAS CNTY IOWA GO CAP LN NTS 2018A,06-01-2028,10005
24,89453PE70,850000,Offered Side,3.379,97.926,03-01-2030,3.00,TRAVIS CNTY TEX ULTD TAX ROAD BDS 2018,03-01-2030,10006