In [62]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from ficc.utils.auxiliary_variables import IDENTIFIERS, NON_CAT_FEATURES_DOLLAR_PRICE, BINARY_DOLLAR_PRICE, CATEGORICAL_FEATURES_DOLLAR_PRICE,PREDICTORS_DOLLAR_PRICE
from ficc.utils.auxiliary_variables import PREDICTORS, NON_CAT_FEATURES, BINARY, CATEGORICAL_FEATURES, IDENTIFIERS
from sklearn.metrics import accuracy_score, precision_score, recall_score

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
dollar_preds = pd.read_pickle('dollar_prediction.pkl')

In [52]:
ys_preds = pd.read_pickle('new_ys_prediction.pkl')

In [53]:
len(dollar_preds)

2286524

In [36]:
%%time
temp = pd.concat([ys_preds, dollar_preds], axis =1)

CPU times: user 20.8 s, sys: 6.67 s, total: 27.5 s
Wall time: 27.5 s

In [37]:
import matplotlib.pyplot as plt

In [56]:
temp['predicted_yield'] = (temp.new_ficc_ycl + temp.predicted_new_ys)/100

In [58]:
temp.shape

(2295416, 117)

In [59]:
temp = temp.loc[:,~temp.columns.duplicated()].copy()

In [60]:
temp.to_pickle('ys_dp_predictions.pkl')

In [61]:
temp.filter(like='pred')

         predicted_new_ys  predicted_dollar_price  predicted_yield
0               76.463936               99.373993         3.944842
1               79.742676               97.945114         3.954582
2               31.725531               99.642746         3.473202
3               14.466559              100.237167         3.300612
4               49.870590               99.842575         4.001869
...                   ...                     ...              ...
2607149         70.571693              100.177010         4.143633
2607150         19.868467              100.319176         3.636601
2607151         20.786442              101.042587         3.256342
2607152         17.686213              101.137894         3.225340
2607155        205.786606               99.675880         5.021908

[2295416 rows x 3 columns]