Date: 2025-02-06  
Last Edit Date: 2025-02-06  
Description: Test that conversion of deque of snapshots into deque of differences works correctly for the reference data redis.

In [1]:
# reload all modules before executing a new cell
%load_ext autoreload
%autoreload 2

In [15]:
import redis
import pickle

from datetime import datetime

In [3]:
import os
import sys


__file__ = os.path.abspath('convert_deque_of_snapshots_into_deque_of_differences.ipynb')    # in a Jupyter Notebook, the `__file__` variable is not automatically defined because notebooks do not run as standard Python scripts
reference_data_redis_update_v2_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))    # get the directory containing the 'cloud_functions/reference_data_redis_v2' package
sys.path.append(reference_data_redis_update_v2_dir)    # add the directory to sys.path

from convert_snapshots_into_differences import convert_deque_of_snapshots_into_deque_of_differences

server_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..', '..', '..', 'app_engine', 'demo', 'server'))    # get the directory containing the 'app_engine/demo/server' package
sys.path.append(server_dir)    # add the directory to sys.path

from modules.point_in_time_pricing import get_point_in_time_reference_data_from_deque

In [ ]:
reference_data_redis_client = redis.Redis(host='10.54.87.4', port=6379, db=0)    # use read endpoint since use case is read-only allowing for lower latency and to not accidentally corrupt the redis by attempting to write to it

In [5]:
deque_of_snapshots_64971XQM3 = pickle.loads(reference_data_redis_client.get('64971XQM3'))
deque_of_snapshots_64971XQM3

deque([array([4.0, '64971XQM3',
              Timestamp('2024-12-29 00:29:04.602367+0000', tz='UTC'),
              Timestamp('2100-01-01 00:00:00+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'Future Tax Secured Subordinate Bonds - Series C-1',
              'New York City Transitional Finance Authority;850000000.0;C-1',
              'Future Tax Secured Subordinate Bonds - Series C-1', None, False,
              True, False, datetime.date(2030, 11, 1), 30, False, 100.0, False,
              <NA>, <NA>, False, False, False, datetime.date(2030, 11, 1), 100.0,
              <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              datetime.date(2030, 11, 1), 100.0, <NA>, <NA>, <NA>, NaT, nan,
              False, <NA>, 30, NaT, NaT, nan, None, NaT, None,
              datetime.date(2045, 5, 1), 'AAA', <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, True, datetime.date(2042, 5, 1), True, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, None, None, False, False, <NA>, False,
              <NA>, <NA>, <NA>, <NA>, False, False, False, False, False,
              datetime.date(2020, 5, 20), 111.09, datetime.date(2020, 5, 20),
              datetime.date(2020, 5, 20), True, 2, 241050000.0, 5000.0, 5000.0,
              5000.0, datetime.date(2020, 5, 20), False, 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 241050000.0,
              datetime.date(2044, 11, 1), datetime.date(2025, 5, 1),
              datetime.date(2020, 11, 1), 241050000.0, 2.77, 241050000.0,
              datetime.date(2024, 11, 1), 2, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              6, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, 2, 1, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, 51, 73, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, 1, <NA>, <NA>, 20, <NA>,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REVFuture Tax Secured Subordinate Bonds - Series C-1',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV Future Tax Secured Subordinate Bonds - Series C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-12-16 14:00:05+0000', tz='UTC'),
              Timestamp('2024-12-29 00:29:04.602367+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, <NA>, NaT,
              <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None, 'STABLE',
              None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF', None,
              None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, NaT, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2025, 5, 1), NaT,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 11, 1), 2, 2,
              None, 5, None, <NA>, False, 6, NaT, nan, NaT, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, NaT,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-11-01 14:00:04+0000', tz='UTC'),
              Timestamp('2024-12-16 14:00:05+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, <NA>, NaT,
              <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None, 'STABLE',
              None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF', None,
              None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, NaT, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2025, 5, 1), NaT,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 11, 1), 2, 2,
              None, 5, None, <NA>, False, 6, NaT, nan, NaT, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, NaT,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-10-25 14:00:04+0000', tz='UTC'),
              Timestamp('2024-11-01 14:00:04+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, <NA>, NaT,
              <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None, 'STABLE',
              None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF', None,
              None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, NaT, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2024, 11, 1), NaT,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 5, 1), 2, 2,
              None, 5, None, <NA>, False, 6, NaT, nan, NaT, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, NaT,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-10-17 20:00:04+0000', tz='UTC'),
              Timestamp('2024-10-25 14:00:04+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, <NA>, NaT,
              <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None, 'STABLE',
              None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF', None,
              None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, NaT, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2024, 11, 1), NaT,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 5, 1), 2, 2,
              None, 5, None, <NA>, False, 6, NaT, nan, NaT, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, NaT,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-10-07 20:00:04+0000', tz='UTC'),
              Timestamp('2024-10-17 20:00:04+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, <NA>, NaT,
              <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None, 'STABLE',
              None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF', None,
              None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, NaT, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2024, 11, 1), NaT,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 5, 1), 2, 2,
              None, 5, None, <NA>, False, 6, NaT, nan, NaT, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, NaT,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object),
       array([4.0, '64971XQM3', Timestamp('2024-09-13 20:00:04+0000', tz='UTC'),
              Timestamp('2024-10-07 20:00:04+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
              'FUTURE TAX SECD SUB BDS', None, False, True, False,
              datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
              False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
              <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
              <NA>, <NA>, None, nan, <NA>, <NA>, <NA>, None, None, nan, <NA>,
              None, <NA>, datetime.date(2045, 5, 1), 'AAA', None, None, None,
              'STABLE', None, None, None, None, 'Aa1', None, 'Aa1', None, 'OFF',
              None, None, None, None, True, datetime.date(2042, 5, 1), <NA>, '2',
              'Mandatory sinking fund', 11, None, None, <NA>, <NA>, 241050000,
              241050000, False, False, <NA>, False, nan, None, <NA>, False,
              False, False, False, False, False, datetime.date(2020, 5, 20),
              111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
              True, 2, 241050000.0, nan, 5000.0, 5000.0,
              datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 850000000.0,
              datetime.date(2044, 11, 1), datetime.date(2024, 11, 1), None,
              241050000.0, 2.77, 241050000.0, datetime.date(2024, 5, 1), 2, 2,
              None, 5, None, <NA>, False, 6, None, nan, None, 3,
              Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
              Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, None, <NA>,
              <NA>, <NA>, None, <NA>, None, 46, 17, <NA>, None,
              datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
              1, <NA>, nan, 20, None, 1168588,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
             dtype=object)])

In [ ]:
sys.getsizeof(pickle.dumps(deque_of_snapshots_64971XQM3))    # returns the size in bytes

7312

In [10]:
deque_of_differences_64971XQM3 = convert_deque_of_snapshots_into_deque_of_differences(deque_of_snapshots_64971XQM3)
deque_of_differences_64971XQM3

deque([array([4.0, '64971XQM3',
              Timestamp('2024-12-29 00:29:04.602367+0000', tz='UTC'),
              Timestamp('2100-01-01 00:00:00+0000', tz='UTC'), 'NY',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
              'Future Tax Secured Subordinate Bonds - Series C-1',
              'New York City Transitional Finance Authority;850000000.0;C-1',
              'Future Tax Secured Subordinate Bonds - Series C-1', None, False,
              True, False, datetime.date(2030, 11, 1), 30, False, 100.0, False,
              <NA>, <NA>, False, False, False, datetime.date(2030, 11, 1), 100.0,
              <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              datetime.date(2030, 11, 1), 100.0, <NA>, <NA>, <NA>, NaT, nan,
              False, <NA>, 30, NaT, NaT, nan, None, NaT, None,
              datetime.date(2045, 5, 1), 'AAA', <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, True, datetime.date(2042, 5, 1), True, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, None, None, False, False, <NA>, False,
              <NA>, <NA>, <NA>, <NA>, False, False, False, False, False,
              datetime.date(2020, 5, 20), 111.09, datetime.date(2020, 5, 20),
              datetime.date(2020, 5, 20), True, 2, 241050000.0, 5000.0, 5000.0,
              5000.0, datetime.date(2020, 5, 20), False, 8, 4.0, 3, 3, False,
              datetime.date(2020, 11, 1), 1, 241050000.0,
              datetime.date(2044, 11, 1), datetime.date(2025, 5, 1),
              datetime.date(2020, 11, 1), 241050000.0, 2.77, 241050000.0,
              datetime.date(2024, 11, 1), 2, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              6, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, 2, 1, <NA>, <NA>, <NA>,
              <NA>, <NA>, <NA>, <NA>, 51, 73, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>,
              <NA>, 1, <NA>, <NA>, 20, <NA>,
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REVFuture Tax Secured Subordinate Bonds - Series C-1',
              'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV Future Tax Secured Subordinate Bonds - Series C-1 '],
             dtype=object),
       {2: Timestamp('2024-12-16 14:00:05+0000', tz='UTC'),
        3: Timestamp('2024-12-29 00:29:04.602367+0000', tz='UTC'),
        6: 'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1',
        7: 1168588,
        8: 'FUTURE TAX SECD SUB BDS',
        17: None,
        18: 1,
        19: 1,
        25: 313314387,
        26: 0,
        29: 0,
        34: 60,
        39: <NA>,
        41: <NA>,
        53: 'STABLE',
        58: 'Aa1',
        60: 'Aa1',
        62: 'OFF',
        69: <NA>,
        70: '2',
        71: 'Mandatory sinking fund',
        72: 11,
        77: 241050000,
        78: 241050000,
        86: False,
        99: nan,
        103: 'NONE',
        111: 850000000.0,
        114: NaT,
        120: 2,
        122: 5,
        125: False,
        130: 3,
        131: Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
        132: Timestamp('2020-05-14 17:11:00+0000', tz='UTC'),
        134: 8,
        142: 46,
        143: 17,
        146: datetime.date(2020, 5, 14),
        149: 'FISCAL 2020C SUB C-1',
        150: 1,
        156: 1168588,
        157: 'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '},
       {2: Timestamp('2024-11-01 14:00:04+0000', tz='UTC'),
        3: Timestamp('2024-12-16 14:00:05+0000', tz='UTC')},
       {2: Timestamp('2024-10-25 14:00:04+0000', tz='UTC'),
        3: Timestamp('2024-11-01 14:00:04+0000', tz='UTC'),
        113: datetime.date(2024, 11, 1),
        118: datetime.date(2024, 5, 1)},
       {2: Timestamp('2024-10-17 20:00:04+0000', tz='UTC'),
        3: Timestamp('2024-10-25 14:00:04+0000', tz='UTC')},
       {2: Timestamp('2024-10-07 20:00:04+0000', tz='UTC'),
        3: Timestamp('2024-10-17 20:00:04+0000', tz='UTC')},
       {2: Timestamp('2024-09-13 20:00:04+0000', tz='UTC'),
        3: Timestamp('2024-10-07 20:00:04+0000', tz='UTC')}])

In [ ]:
sys.getsizeof(pickle.dumps(deque_of_differences_64971XQM3))    # returns the size in bytes

3071

In [16]:
datetime_for_snapshot3 = datetime(2024, 11, 15, 0, 0, 0)    # datetime between '2024-11-01 14:00:04' and '2024-12-16 14:00:05' so that snapshot 3 is the valid snapshot for this datetime

In [20]:
get_point_in_time_reference_data_from_deque(deque_of_differences_64971XQM3, datetime_for_snapshot3)

array([4.0, '64971XQM3', Timestamp('2024-11-01 14:00:04+0000', tz='UTC'),
       Timestamp('2024-12-16 14:00:05+0000', tz='UTC'), 'NY',
       'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV',
       'FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1', 1168588,
       'FUTURE TAX SECD SUB BDS', None, False, True, False,
       datetime.date(2030, 11, 1), 30, False, 100.0, None, 1, 1, False,
       False, False, datetime.date(2030, 11, 1), 100.0, 313314387, 0,
       <NA>, <NA>, 0, <NA>, <NA>, datetime.date(2030, 11, 1), 100.0, 60,
       <NA>, <NA>, NaT, nan, <NA>, <NA>, <NA>, NaT, NaT, nan, None, NaT,
       None, datetime.date(2045, 5, 1), 'AAA', <NA>, <NA>, <NA>, 'STABLE',
       <NA>, <NA>, <NA>, <NA>, 'Aa1', <NA>, 'Aa1', <NA>, 'OFF', <NA>,
       <NA>, <NA>, <NA>, True, datetime.date(2042, 5, 1), <NA>, '2',
       'Mandatory sinking fund', 11, <NA>, <NA>, <NA>, <NA>, 241050000,
       241050000, False, False, <NA>, False, <NA>, <NA>, <NA>, False,
       False, False, False, False, False, datetime.date(2020, 5, 20),
       111.09, datetime.date(2020, 5, 20), datetime.date(2020, 5, 20),
       True, 2, 241050000.0, nan, 5000.0, 5000.0,
       datetime.date(2020, 5, 20), 'NONE', 8, 4.0, 3, 3, False,
       datetime.date(2020, 11, 1), 1, 850000000.0,
       datetime.date(2044, 11, 1), datetime.date(2025, 5, 1), NaT,
       241050000.0, 2.77, 241050000.0, datetime.date(2024, 11, 1), 2, 2,
       <NA>, 5, <NA>, <NA>, False, 6, <NA>, <NA>, <NA>, 3,
       Timestamp('2020-05-14 20:00:00+0000', tz='UTC'),
       Timestamp('2020-05-14 17:11:00+0000', tz='UTC'), 2, 8, <NA>, <NA>,
       <NA>, <NA>, <NA>, <NA>, <NA>, 46, 17, <NA>, <NA>,
       datetime.date(2020, 5, 14), <NA>, <NA>, 'FISCAL 2020C SUB C-1', 1,
       1, <NA>, <NA>, 20, <NA>, 1168588,
       'NEW YORK N Y CITY TRANSITIONAL FIN AUTH REV FUTURE TAX SECD SUB BDS FISCAL 2020C SUB C-1 '],
      dtype=object)